/* purgecss start ignore */
@tailwind  base;

/* PrismJS colour theme starts */
/* TODO: Set up postcss-import! */

/**
 * Based on atom-dark theme for `prism.js`
 * Which was based on Atom's `atom-dark` theme: https://github.com/atom/atom-dark-syntax
 * @author Joe Gibson (@gibsjose)
 */

code[class*="language-"],
pre[class*="language-"] {
        color: #f7f9f7;
	font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	background: #1d1f21;
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: rgb(175, 175, 175);
}

.token.punctuation {
	color: #c5c8c6;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.keyword,
.token.tag {
  color: rgb(255, 206, 0);
}

.token.class-name,
.token.boolean,
.token.builtin,
.token.constant {
  color: rgb(174, 212, 212);
}

.token.number,
.token.symbol {
  color: rgb(212, 236, 114);
}

.token.deleted {
	color: #f92672;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.inserted {
  color: rgb(91, 236, 59);
}

.token.variable {
	color: #C6C5FE;
}

.token.operator {
	color: #EDEDED;
}

.token.entity {
	color: #FFFFB6;
	cursor: help;
}

.token.url {
	color: #96CBFE;
}

.language-css .token.string,
.style .token.string {
	color: #87C38A;
}

.token.atrule,
.token.attr-value {
	color: #F9EE98;
}

.token.function {
  color: rgb(255, 87, 8);
}

.token.regex {
	color: #E9C062;
}

.token.important {
	color: #fd971f;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

/* PrismJS colour theme ends */

/*
  Content sections conventions
*/
section {
  @apply pb-10;
  @apply px-4;
}
p+p {
  @apply mt-4;
}

/*
  Global headings conventions
*/
h1.heading {
  @apply text-3xl;
  @apply text-gray-900;
  @apply font-semibold;
  @apply mb-4;
}
@screen md {
  h1.heading {
    @apply text-3xl;
  }
}

/*
  Base styles for links
*/
a {
  @apply border-b-2;
  @apply border-yellow-500;
}
a:hover,
a:focus {
 @apply border-b-2;
 @apply border-yellow-300;
}
a.naked-link:link,
a.naked-link:visited {
  @apply border-0;
}

.content h2 {
  @apply mt-10;
  @apply mb-6;
  @apply font-semibold;
  @apply text-xl;
}

.content h3,
.content h4,
.content h5 {
  @apply mt-8;
  @apply mb-4;
  @apply font-semibold;
  @apply text-base;
}

.content ul,
.content ol {
  @apply my-6;
}
.content li {
  @apply list-disc;
  @apply ml-6;
  @apply my-1;
}
.content ol li {
  @apply list-decimal;
  @apply pl-2;
}
.content li ul,
.content li ol {
  @apply my-1;
}

.content img {
  @apply mx-auto;
}

:not(pre) > code {
  @apply rounded;
  @apply border;
  @apply border-gray-500;
  @apply text-sm;
  padding: 0.1rem 0.25rem;
  margin: 0 0.1rem;
}

pre code {
  @apply text-sm;
}

.code-filename {
  @apply bg-gray-300;
  @apply py-1;
  text-align: center;
  margin-top: 1.5em;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}

.code-filename + pre[class*="language-"] {
  @apply mt-0;
  @apply rounded-t-none;
}

pre {
  padding: 1em;
  margin: 1.5em 0;
  overflow: auto;
  border-radius: 0.3em;

  background: #1d1f21;
  color: #fff;
}

blockquote {
  @apply my-8;
  @apply italic;
  @apply pl-4;
  @apply border-l-8 border-gray-200;
}

@tailwind  components;
/* purgecss end ignore */

@tailwind utilities;
