<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>
      {% if renderData.title %}
        {{ renderData.title }} - The Pug Automatic
      {% elif title %}
        {{ title }} – The Pug Automatic
      {% else %}
        The Pug Automatic
      {% endif %}
    </title>
    <link href="/images/favicon.ico" rel="icon">
    <link href="/atom.xml" rel="alternate" title="The Pug Automatic" type="application/atom+xml">
  </head>
  <body class="container mx-auto py-10 lg:max-w-2xl text-gray-800">
    <header class="text-center">
      <a href="/" class="border-0">
        {% if page.url == "/" %}
          <p><img src="/images/pug_1x.png" srcset="/images/pug_2x.png 2x, /images/pug_3x.png 3x" class="mx-auto" style="width:200px; height: 221.5px" alt=""></p>
          <h1 class="font-bold text-yellow-600 text-2xl">The Pug Automatic</h1>
          <p class="mb-12 text-gray-700">A blog by <a href="https://twitter.com/henrik">@henrik</a> about <a href="/tag/ruby">Ruby</a>, <a href="/tag/elixir">Elixir</a> and other things.</p>
        {% else %}
          <p><img src="/images/pug_1x.png" srcset="/images/pug_2x.png 2x, /images/pug_3x.png 3x" class="mx-auto" style="width: 100px; height: 110.75px" alt=""></p>
          <h1 class="font-bold text-yellow-600 text-lg">The Pug Automatic</h1>
        {% endif %}
      </a>
    </header>

    <div class="content leading-relaxed my-8">
      {{ content | safe }}
    </div>
    <footer class="text-center text-gray-500 text-sm">
      <p>
        Content and design &copy; <a href="https://henrik.nyh.se">Henrik Nyh</a> (<a href="https://twitter.com/henrik">@henrik</a>).
        Code is under a <a href="http://en.wikipedia.org/wiki/MIT_License">MIT License</a> unless otherwise stated.
      </p>
      <p class="mt-2">
        Pug art by <a href="https://johannaost.com">Johanna Öst</a>; other graphics are under a <a href="http://creativecommons.org/licenses/by/3.0/">CC BY License</a>.
      </p>
      <p class="mt-2">
        Powered by <a href="https://11ty.dev">Eleventy</a>.
      </p>
    </footer>
    {% set js %}
      {% include "js/core.js" %}
    {% endset %}
    <script>{{ js | jsmin | safe }}</script>
  </body>
</html>
