<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{ title }}</title>
    <link href="/images/favicon.ico" rel="icon">
    {% include "social.njk" %}
  </head>
  <body class="container mx-auto mb-12 lg:max-w-4xl text-gray-700">
    {% include "header.njk" %}
    <div class="content leading-relaxed">
      {{ content | safe }}
    </div>
    <footer class="text-center text-gray-500 text-sm">
      <p>
        Unless otherwise noted, code is <a href="http://en.wikipedia.org/wiki/MIT_License">MIT License</a> and graphics (excluding the blog art) is <a href="http://creativecommons.org/licenses/by/3.0/">CC BY License</a>.
      </p>
      <p>
        Content and design &copy; Henrik Nyh.
        Pug art by <a href="https://johannaost.com">Johanna Öst</a>.
        Powered by <a href="https://11ty.dev">Eleventy</a>.
      </p>
    </footer>
    {% set js %}
      {% include "js/core.js" %}
    {% endset %}
    <script>{{ js | jsmin | safe }}</script>
  </body>
</html>
