<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{ title }}</title>
    <link href="/images/favicon.ico" rel="icon">
  </head>
  <body class="container mx-auto py-8 mb-12 lg:max-w-4xl text-gray-700">
    <header class="text-center">
      <p><img src="/images/pug_1x.png" srcset="/images/pug_2x.png 2x, /images/pug_3x.png 3x" class="mx-auto" alt=""></p>
      <h1><a href="/" class="border-0 font-bold text-yellow-600 text-2xl">The Pug Automatic</a></h1>
    </header>

    <div class="content leading-relaxed my-6">
      {{ content | safe }}
    </div>
    <footer class="text-center text-gray-500 text-sm">
      <p>
        Unless otherwise noted, code is <a href="http://en.wikipedia.org/wiki/MIT_License">MIT License</a> and graphics (excluding the pug art) is <a href="http://creativecommons.org/licenses/by/3.0/">CC BY License</a>.
      </p>
      <p>
        Content and design &copy; Henrik Nyh.
        Pug art by <a href="https://johannaost.com">Johanna Öst</a>.
        Powered by <a href="https://11ty.dev">Eleventy</a>.
      </p>
    </footer>
    {% set js %}
      {% include "js/core.js" %}
    {% endset %}
    <script>{{ js | jsmin | safe }}</script>
  </body>
</html>
