---
layout: default
templateEngineOverride: njk, md
permalink: "/{{ page.date | slugDate }}/{{ page.fileSlug }}/index.html"
tags: "post"
---
<section>
  <hgroup class="mb-8">
    <h1 class="heading">{{ title }}</h1>
    <p class="text-gray-600">
      Written {{ page.date | readableDate }}.
      {{ tags | tagList | safe }}
    </p>
  </hgroup>
  <div>
    {{ content | safe }}
 </div>
</section>
