---
layout: default
templateEngineOverride: njk, md
permalink: "/{{ page.date | slugDate }}/{{ page.fileSlug }}/index.html"
tags: posts
---
<section>
  <hgroup class="mb-8 text-center">
    <h1 class="heading leading-tight mb-2">{{ title }}</h1>
    <p class="text-gray-600">
      <span class="mx-1">
        Written {{ page.date | humanDate }}.
      <span class="mx-1">
        {{ tags | tagList | safe }}
      </span>
    </p>
  </hgroup>
  <div>
    {{ content | safe }}
 </div>

 {% if comments != false %}
 <div id="disqus_thread" aria-live="polite" class="mt-8"></div>
 <script type="text/javascript">
   var disqus_shortname = "pug";
   var disqus_developer = "0";
   var disqus_url = 'https://thepugautomatic.com{{ page.url }}';
   var disqus_identifier = disqus_url;
   (function () {
     var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
     dsq.src = "https://" + disqus_shortname + ".disqus.com/embed.js";
     (document.getElementsByTagName("head")[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
   }());
 </script>
  {% endif %}

</section>
