<div class="mt-6">
  <div class="text-lg font-bold"><a href="{{ post.url }}">{{ post.data.title }}</a></div>
  <p class="text-sm text-gray-600">
    {{ post.date | readableDate }}.
    {{ post.data.tags | tagList | safe }}
  </p>
</div>
