---
layout: default
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
  - all
  - post
permalink: /tag/{{ tag | slug }}/
---

<h1 class="heading">Tagged “{{ tag }}”</h1>

<ol>
{% set taglist = collections[ tag ] %}
{% for post in taglist | reverse %}
  {% include 'components/post-listing.njk' %}
{% endfor %}
</ol>
